<?xml version="1.0"?>
<launch>
  <!--MoPAT launch script-->
  <node name="simulator_node" pkg="mopat_pkg" type="simulator_node.py"/>
  <node name="config_space_node" pkg="mopat_pkg" type="config_space_node.py"/>
  <node name="motion_planner_node" pkg="mopat_pkg" type="motion_planner_node.py"/>
  <node name="multi_robot_coordinator_node" pkg="mopat_pkg" type="multi_robot_coordinator_node.py"/>
  <node name="occ_map_node" pkg="mopat_pkg" type="occ_map_node.py"/>
  <node name="plot_node" pkg="mopat_pkg" type="plot_node.py"/>
</launch>
