<?xml version="1.0"?>
<launch>
  <!--MoPAT launch script-->
  <!--Run scripts-->
  <node name="simulator_node" pkg="mopat_pkg" type="simulator_node.py" ns="/server" output="screen"/>
  <node name="occ_map_node" pkg="mopat_pkg" type="occ_map_node.py" ns="/tracking" output="screen"/>
  <node name="config_space_node" pkg="mopat_pkg" type="config_space_node.py" ns="/control" output="screen"/>
  <node name="discretization_node" pkg="mopat_pkg" type="discretization_node.py" ns="control" output="screen"/>
  <node name="motion_planner_node" pkg="mopat_pkg" type="motion_planner_node.py" ns="/control" output="screen"/>
  <node name="multi_robot_coordinator_node" pkg="mopat_pkg" type="multi_robot_coordinator_node.py" ns="/control" output="screen"/>
  <node name="plot_node" pkg="mopat_pkg" type="plot_node.py" ns="/server" output="screen"/>
  <!--Set parameters-->
  <param name="/mopat/control/sampling_size" value="2" type="int"/>
  <param name="/mopat/sim/screen_size" value="500" type="int"/>
  <param name="/mopat/user/robot_num" value="0" type="int"/>
  <param name="/mopat/user/end_sim" value="0" type="bool"/>
</launch>
